<div class="social-sharing-buttons">
    <h4>{{ 'Share to Earn Points'|trans({}, 'Modules.Loyaltypoints.Shop') }}</h4>
    
    <button type="button" 
            class="btn btn-social facebook-share"
            data-platform="facebook"
            data-product-id="{{ product.id }}">
        <i class="fab fa-facebook"></i> Facebook
    </button>

    <button type="button" 
            class="btn btn-social twitter-share"
            data-platform="twitter"
            data-product-id="{{ product.id }}">
        <i class="fab fa-twitter"></i> Twitter
    </button>

    <button type="button" 
            class="btn btn-social instagram-share"
            data-platform="instagram"
            data-product-id="{{ product.id }}">
        <i class="fab fa-instagram"></i> Instagram
    </button>
</div>