<!DOCTYPE html>
<html>
<head>
    <title>Tier Upgrade</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <p>Hello {firstname} {lastname},</p>
    
    <p>Congratulations! You've been upgraded to <strong>{tier}</strong> tier!</p>
    
    <p><strong>New Benefits:</strong></p>
    <ul>
        <li>{multiplier}x points earning rate</li>
        <li>Exclusive discounts</li>
        <li>Priority support</li>
    </ul>

    <p>Thank you for your loyalty!</p>
    <p>{shop_name}</p>
</body>
</html>